.skill-search-panel table {
  table-layout: fixed;
}

.skill-search-panel th:first-child,
.skill-search-panel td:first-child {
  width: 42%;
}

.skill-search-panel th,
.skill-search-panel td {
  vertical-align: middle;
}
